@import url(https://fonts.googleapis.com/css?family=Merienda+One);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Serif);

body {
    margin: 0;
}

h1 {
    text-align: center;
    font-family: 'Merienda One';
    font-size: 80px;
    line-height: 150px;
    margin: 0;
    background-color: #80802A;
}

.logo {
    float: left;
    position: absolute;
    top: 14px;
    left: 14px;
}

nav {
    text-align: center;
    background-color: #494430;
    line-height: 40px;
    width: 600px;
    margin: auto;
    border-radius: 25px;
    margin-top: -20px;
}

a {
    color: #EBEDF9;
    text-decoration: none;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 25px;
}